body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', Tahoma, sans-serif;
    font-weight: 400;
    background: url(../images/gradient.jpg) repeat-x #f5f5f5;
}


/* HEADER */

header {
    width: 980px;
    padding: 25px 0;
    margin: 0 auto;
}

#linksHeader {
    background: #e31b23;
    height: 60px;
}

#linksHeader nav#headerNav {
    width: 980px;
    margin: 0 auto;
}

#linksHeader nav#headerNav ul {
    position: relative;
    margin: 0;
    padding: 0;
}

#linksHeader nav#headerNav ul.navLeft {
    float: left;
}

#linksHeader nav#headerNav ul.navRight {
    float: right;
}

#linksHeader nav#headerNav li {
    list-style: none;
    float: left;
}

#linksHeader nav#headerNav li a {
    padding: 18px 13px 16px;
    font-size: 1em;
    border-left: 1px solid #e93e46;
    border-right: 1px solid #ba2a2a;
    line-height: 26px;
    color: #ffffff;
    display: block;
    text-decoration: none;
}

#linksHeader nav#headerNav li a:hover {
    color: #000;
    background: #fff;
}

#linksHeader nav#headerNav .navAvatar {
    float: right;
    height: 60px;
    border-right: 1px solid #ba2a2a;
}

#linksHeader nav#headerNav .navAvatar img {
    display: inline-block;
    margin-bottom: 1em;
    border-radius: 50%;
    width: 50px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/* MAIN */

#wrapper {
    margin: 16px auto;
    box-shadow: 3px 3px 4px #d5d5d5;
    width: 980px;
    background: #fff;
    margin: 20px auto;
    display: table;
}


/* SIDEBAR */

aside {
    display: table-cell;
    width: 25%;
    vertical-align: top;
    background: #e9e9e9;
}

aside nav {
    border-top: 1px solid #f5f5f5;
}

aside #sidebarNav,
aside #sidebarNav a {
    display: block;
}

aside #sidebarNav a {
    text-decoration: none;
    background: #000000;
    padding: 6px 8px;
    margin: 0;
    color: #ffffff;
    font-size: 1em;
    line-height: 17px;
    border-bottom: 1px solid #ffffff;
}

aside #sidebarNav a:hover {
    text-decoration: none;
    background: #e31b23;
}

#sidebarNav .active {
    background: #e31b23;
    padding: 6px 8px;
    margin: 0;
    color: #fff;
    line-height: 17px;
}

#sidebarNav .active::after {
    float: right;
    border-bottom: 14px solid #ffffff;
    border-left: 7px solid #e31b23;
    border-top: 15px solid #ffffff;
    content: '';
    margin-top: -6px;
    margin-right: -20px;
    width: 5px;
}


/* CONTENT */

section {
    display: table-cell;
    width: 75%;
    margin-bottom: 8px;
}

.main-content {
    margin: 0 auto;
    padding: 10px 20px;
}

.full-column {
    width: 100%;
}

.full-column img {
    width: 100%;
}

.column-half {
    float: left;
    width: 50%;
}

.sephia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.tableZo {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}

.tableZo th {
    border: 1px solid #C0C0C0;
    padding: 5px;
    background: #F0F0F0;
}

.tableZo td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}


/* FOOTER */

footer {
    width: 980px;
    margin: 20px auto;
    padding: 16px 0 16px 0;
    background: #29262b;
    background: -moz-linear-gradient(top, #29262b 0, #161317 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #29262b), color-stop(100%, #161317));
    background: -webkit-linear-gradient(top, #29262b 0, #161317 100%);
    background: -o-linear-gradient(top, #29262b 0, #161317 100%);
    background: -ms-linear-gradient(top, #29262b 0, #161317 100%);
    background: linear-gradient(to bottom, #29262b 0, #161317 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#29262b', endColorstr='#161317', GradientType=0);
}

footer .footerCopy {
    padding: 10px 20px;
    color: #ffffff;
}